:root{
    /* font-size */
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;

    /* font-weight */
    --fw-400: 400;
    --fw-600: 600;

    /* color */
    --gray-4D4D: #4D4D4D;
    --red-C21: #C2190E;
    --white-fff: #FFF;
    --black:#000;
}
.f-heading{
    font-size: var(--fs-16);
    font-weight: var(--fw-600);
    color: var(--black);
}
.f-article{
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    color: var(--gray-4D4D);
}
.fonts-nav-bar{
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    color: var(--gray-4D4D);
    transition: .3s;
}
.fonts-nav-bar:hover{
    color: var(--red-C21);
    -webkit-text-stroke: var(--red-C21) 0.5px;
}
.clr-black{
    color: var(--black);
}
.font-nav-btn{
    font-size: var(--fs-15);
    font-weight: var(--fw-600);
    color: var(--white-fff); 
}

.footer-para{
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    color: var(--white-fff); 
}

.footer-p{
    font-size: var(--fs-14);
    font-weight: var(--fw-400);
    color: var(--white-fff); 
}

.info-font-hading{
    font-size: var(--fs-16);
    font-weight: var(--fw-600);
    color: var(--black); 
}

.font-info-para{
    font-size: var(--fs-16);
    font-weight: var(--fw-400);
    color: var(--gray-4D4D); 
}
