@import url("root.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url("./style1.css");
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none !important;
}

/* padding */
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pt-40 {
    padding-top: 40px;
}
.pt-13 {
    padding-top: 13px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pb-9 {
    padding-bottom: 9px;
}
.pt-16 {
    padding-top: 16px;
}
.pl-8 {
    padding-left: 8px;
}
.pb-95 {
    padding-bottom: 95px;
}
.pr-14 {
    padding-right: 14px;
}
.ff-poppine {
    font-family: 'Poppins', sans-serif;
    line-height: 180%;
}

/* nav-section */
.nav-bg-crd {
    background: #FFF;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.07);
}
nav ul li a {
    position: relative;
}
 .line::before{
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    bottom: -2%;
    transition: .4s;
    background-color: #000;
}
.line:hover::before{
    left: 0;
    width: 100%;
}
.gap-15 {
    gap: 15px;
}
.mx-353 {
    max-width: 353px;
}
.nav-btn {
    padding: 6px 22px;
    border-radius: 17.5px;
    background: var(--Button, #C2190E);
}
.cross-1 {
    rotate: 45deg;
    transition: .4s;
}
.cross-2 {
    position: relative;
    transition: .4s;
    top: -80%;
    rotate: -45deg;
}
.cross-3 {
    display: none !important;
}
.cross-4 {
    transition: .4s;
}
.cross-5 {
    transition: .5s;
}
.cross-6 {
    transition: .5s;
}
.pl-0 {
    padding-left: 0;
}
.pt-15 {
    padding-top: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}

/* information-section */
.mx-402 {
    max-width: 402px;
}
.mx-366 {
    max-width: 366px;
}

/* footer-section */
p {
    margin-bottom: unset !important;
}
.footer-line::after {
    content: "";
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #B2B2B2;
}
.mx-435 {
    max-width: 435px;
}

@media (min-width:576px) {
    .pb-sm-95 {
        padding-bottom: 95px;
    }
    .pt-sm-100 {
        padding-top: 100px;
    }
    .pb-sm-100 {
        padding-bottom: 100px;
    }
    .pt-sm-120{
        padding-top: 120px;
    }
}

@media (max-width:1200px) {
    label[id="menuicon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 2%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;
    }
    label[id="menuicon"]>span {
        width: 100%;
        height: 5px;
        background: black;
    }
    .nav-bar {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: lightblue;
        z-index: 3;
        box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
        transition: .8s;
    }
    .fixed-lft {
        left: 0;
    }
}