@import url("root.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
}
/* article-section */
.f-heading{
    line-height: 180%;
    font-family: 'Poppins', sans-serif;
}
.f-article{
    line-height: 180%;
    font-family: 'Poppins', sans-serif;
}
input{
    border-radius: 31.5px;
    padding: 14px 14px 14px 17px;
    outline: unset;
    border: 1px solid var(--red-C21);
    font-family: 'Poppins', sans-serif;
}
.pt-120{
    padding-top: 120px;
}